<h3 class="top-contributors-heading">
  {{this.blockTitle}}
</h3>

<div class="top-contributors--container">
  {{#each this.topContributors as |item|}}
    <div class="top-contributors--user">
      <span
        data-user-card={{item.user.username}}
        class="top-contributors--user-badge"
      >
        {{avatar item.user imageSize="small"}}
        {{#if this.siteSettings.prioritize_username_in_ux}}
          {{item.user.username}}
        {{else if item.user.name}}
          {{item.user.name}}
        {{else}}
          {{item.user.username}}
        {{/if}}
      </span>
      <span class={{concat "top-contributors--user-likes order--" this.order}}>
        {{#if (eq this.order "likes_received")}}
          {{d-icon "heart"}}
          {{item.likes_received}}
        {{else}}
          {{d-icon "heart"}}
          {{item.likes_given}}
        {{/if}}
      </span>
    </div>
  {{/each}}
</div>

<a class="top-contributors--view-all" href={{this.viewAllUrl}}>
  {{theme-i18n "top_contributors.view_all"}}
</a>
